<div class="container mt-5">
  <h3>Crud App</h3>
  <div class="row mt-3">
      <div class="col-12">
          <h3>Be able to create - update and delete a todo item</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit omnis blanditiis ipsum possimus illum molestiae, tempore quidem, ad perferendis nulla est magnam magni saepe ab vel sequi rem voluptates libero id corporis temporibus, eligendi quis? Quo rem soluta quidem incidunt possimus cum voluptatem inventore, excepturi et explicabo reprehenderit eius alias.</p>
      </div>
  </div>
</div>
