.close{
    background-color: red;
    color: #fff;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 5px;
}
.update{
    background-color: gray;
    color: #fff;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 5px;
}
.isComplete{
    text-decoration: line-through;
}