<ul class="list-group">
  <div class="list-group-item mt-3">
    <div class="d-flex align-items-center justify-content-between mt-2">
        <div [ngClass]="{'isComplete': todo.completed}">
            <input type="checkbox"
            (change)="onCompleted(todo)">
             {{ todo.task }}
        </div>
        <div class="d-flex">
          <div class="update mr-1" (click)="onEdit(todo)"><i class="fa fa-pencil-alt"></i> </div>
          <div class="close" (click)="onDelete(todo.$key)"><i class="fa fa-window-close"></i> </div>
        </div>
    </div>
  </div>
</ul>
